<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tus senos bb</h5>
    <p class="card-text">Aqui irian tus nudes si me las enviaras :'c</p>
    <a href="#" class="btn btn-primary">Send nudes/<br> HERE</a>
  </div>
</div>
